.add-poll-section{
    max-width: 900px;
    margin: 3rem auto;
}

.options-btn {
    top: 6px;
    right: 5px;
    padding: 5px 10px;
    border: 1.5px solid #010727;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    background-color: #3d4f7f;
  }
  
  .btn {
    margin: 5px;
    padding: 5px;
  }
  
  .optionRow {
    width: 92%;
    margin-top: 5px;
  }
  
  button.btn.btn-danger.remove-btn {
    padding: 1px 5px;
    height: 30px;
    font-size: 12px;
  }
  
  .remove {
    margin: auto auto 38px;
    color: red;
    font-size: 15px;
    cursor: pointer;
    line-height: 47px;
  }
  
  .add {
    margin: auto auto 38px;
    color:blue;
    font-size: 15px;
    cursor: pointer;
    line-height: 47px;
  }
  
  .projectsubbmit ul {
    padding: 0;
    list-style: none;
  }
  .projectsubbmit ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  
  .user-list ul {
    padding: 0;
    list-style: none;
  }
  .user-list ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    columns: white;
    padding: 7px;
  }
  
  .profile-img-user {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
  }
  .profile-img-user img {
    border-radius: 50%;
  }
  .profile-img-user p {
    margin-left: 10px;
    margin-bottom: 0;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 135px;
    min-width: 120px;
    color: black;
  }
  
  .add-button {
    color: #909092;
  }
  .cancel-btn {
    background: linear-gradient(172.16deg, #f60307 -32.85%, #f10929 90.32%);
    color: #fff;
    transition: 0.6s;
  }

  .card{
    border-radius: 10px;
    border-top: 3px solid #4ba06e !important;
  }

  .labelText{
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  .input{
    display: inline-flex;
    min-width: 88%;
    width: auto;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #d1d5db;
  }

  .medium{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .optionLabel{
    margin-right: 10px;
  }

  .formTitle{
    font-weight: 700;
  }

  .formNote{
    color: #aeaeb1;
    font-size: 14px;
    margin-bottom: 30px;
  }