
<div class="custom-margin">
  <h3 class="mb-2 text-center formTitle mt-5">Create Polls</h3>
  <h6 class="text-center formNote">Complete the below fields to create your poll.</h6>
  <div class="buytoken-form container card">
    <div class="mb-2">
      <form class="needs-validation" autocomplete="off" [formGroup]="pollForm">
        <div class="form">
          <div class="col">
            <div class="form-group row">
              <label class="col-md-12 labelText">Questions :</label>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" formControlName="question" placeholder="Enter a question here"></textarea>
                  <div formArrayName="options">
                    <label class="col-md-12 labelText"> Answers :</label>
                    <div *ngFor="let skill of questionsOptions().controls; let choiceIndex=index">
                      <div [formGroupName]="choiceIndex" class="d-flex">
                        <div class="optionRow">
                          <label class="optionLabel"> Options {{choiceIndex+1}} :</label>
                          <input class="input form-control medium" type="text"  formControlName="choice" />
                        </div>
                        <div (click)="addOptions()" class="add" *ngIf="choiceIndex == 0">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <div (click)="removeOptions(choiceIndex)" class="remove" *ngIf="choiceIndex > 0">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div>
            <button type="submit" class="btn gradbtn" (click)="savePoll()">
              Publish
            </button>
            <button class="btn cancel-btn" routerLink="/proposal/my-proposal"
              routerLinkActive="router-link-active">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

