<div class="container">
  <div class="center">
    <div class="logo">
      <!-- <img src="../../assets/logo.png" alt="logo"> -->
    </div>
    <div class="data-form shadow">
      <!-- signup form starts here -->
      <form [formGroup]="adminRegister" class="sign-up form" accept-charset="utf-8" (ngSubmit)="onSubmit()">

        <h1>Create Account</h1>
        <div class="form-group  first-child">
          <div class="input name">
            <input name="name" formControlName="fullname" required class="form-control" id="name" data-position="top"
              minlength="2" maxlength="60" placeholder="Enter Full Name" autocomplete="off">
            <div *ngIf="registerControls.fullname.touched && registerControls.fullname.errors">
              <span class="custom-error" *ngIf="registerControls.fullname.errors.required">This
                field is required!
              </span>
              <span class="custom-error" *ngIf="registerControls.fullname.errors.pattern">This
                field is invalid!
              </span>
            </div>
          </div>
        </div>

        <div class="form-group  first-child">
          <div class="input email">
            <input name="email" formControlName="email" required placeholder="Email Address" class="form-control"
              id="email" data-position="top" maxlength="255" type="email" autocomplete="off">
            <div *ngIf="registerControls.email.touched && registerControls.email.errors">
              <span class="custom-error" *ngIf="registerControls.email.errors.required">This field
                is required!
              </span>
              <span class="custom-error" *ngIf="registerControls.email.errors.pattern">This field
                is invalid!
              </span>
            </div>
          </div>
        </div>

        <div class="form-group  first-child">
          <div class="input password">
            <input name="password" required formControlName="password" class="form-control" id="password" maxlength="50"
              minlength="6" placeholder="Password" type="password">
            <div *ngIf="registerControls.password.touched && registerControls.password.errors">
              <span class="custom-error" *ngIf="registerControls.password.errors.required">This
                field is required!
              </span>
              <span class="custom-error" *ngIf="registerControls.password.errors.pattern">This
                field is invalid!
              </span>
            </div>
          </div>
        </div>
        <div class="form-group  first-child">
          <div class="input cpassword">
            <input name="cpassword" required class="form-control checkempty" formControlName="confirmPassword"
              id="cpassword" type="password" maxlength="50" minlength="6" placeholder="Confirm Password">
            <div *ngIf="registerControls.confirmPassword.touched && registerControls.confirmPassword.errors">
              <span class="custom-error" *ngIf="registerControls.confirmPassword.errors.required">This field is
                required!
              </span>
              <span class="custom-error" *ngIf="registerControls.confirmPassword.errors.mustMatch">Password does not
                match!
              </span>
            </div>
          </div>
        </div>
        <p class="form-note">
          A valid password should contain a minimum length of 6 characters & meet
          the following criteria. A CAPITAL letter, a small letter, a number and a special
          character.
        </p>
        <div class="text-center">
          <button type="submit" class="registerbtn" [disabled]="adminRegister.invalid">Create
            Account</button>
          <div class="container text-center">
            <button type="submit" class="link-btn mb-10px"><a rrouterLinkActive="active" [routerLink]="['/sign-in']">If
                you already have an account, just login.
              </a></button>
          </div>
        </div>
      </form>
      <!-- signup form ends here -->
    </div>
  </div>
</div>