

<div class="container">
   <form *ngIf="pollData" [formGroup]="pollSubmitForm" class="multisteps_form bg-white position-relative overflow-hidden poll-block" id="wizard">
      <!------------------------- Step-1 ----------------------------->
      <div class="multisteps_form_panel step active ">
         <div class="question_title text-center text-uppercase">
            <h1 class="animate__animated animate__fadeInRight animate_25ms">{{pollData.question}}</h1>
         </div>
         <div class="row  form_items" *ngFor="let option of pollData.options">
            <div class="col-12">
               <ul class="list-unstyled p-0">
                  <li id="{{option.id}}" (click)="selectedIndex(option.id)" class="step_1 animate__animated animate__fadeInRight animate_50ms option" >
                     <input  type="radio" formControlName="selectOptId"  name="stp_1_select_option" value={{option.id}}>
                     <label for={{option.id}}>{{option.value}}</label>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="form_btn">
         <button type="button"  class="next_btn rounded-pill position-absolute text-uppercase text-white"  (click)="onSubmitPoll()" id="nextBtn">Submit</button>
      </div>
   </form>
   </div>
   
   