<!-- <div class="custom-margin">
    <div class="wrapper">
      <div >
        <header>demo question add for testing</header>
        <div>
          <div class="poll-area selected-option">
            <div class="percentage-label-block">
              <input type="radio" name="poll"
                id="opt-1" 
                >
              <span class="circle_with_border circle"></span>
  
              <label for="">dksjfklsdjfklsdjfkl
              </label>
              <div class="percent">10%</div>
            </div>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
          </div>
        </div>

        <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>
        <div style="text-align: center;">
          <button type="button" class="vote-btn">
            Submit Vote
          </button>
        </div>
      </div>
      <div>
        <div class="vote_content_box text-center">
          <i class="far fa-check-circle"></i>
          <h5>THANKS</h5>
          <p class="thanks_para mb-3">Thanks for Voting, Meanwhile you can explore our awesome platform</p>
          <button class="btn-cta">Back to Proposal List</button>
        </div>
      </div>
    </div>
  </div> -->

<div class="container mt-5">
  <div class="card" *ngIf="pollData">
    <div class="row justify-content-end mx-3" *ngIf="pollStatus">
      <button class="btn btn-danger text-white" (click)="closePoll()">Close Poll</button>
    </div>
    <div class="queBlock row">
      <div class="col-12" style="font-size: 14px;">Poll Question:</div>
      <div class="col-12 font-weight-bold ml-3">{{pollQuestion}}</div>
    </div>
    <hr>
    <div class="optionBlock row">
      <div class="col-12" style="font-size: 14px;">Options:</div>
      <div *ngIf="totalVotes > 0; else elseOptionBlock" class="col-12 font-weight-bold pl-3">
        <div class="first-block">
          <div class="custom-canvas-width">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors">
            </canvas>
          </div>
        </div>
      </div>
      <ng-template class="row" #elseOptionBlock>
        <div class="col-12 mx-3 mt-3" *ngFor="let option of pollData.options; let i = index">
          <div>{{i+1}} : {{option.value}}</div>
        </div>
        <div class="col-12 mx-3 mt-3">
          <b>Note:</b> No one answer this poll yet.
        </div>
      </ng-template>
    </div>
  </div>
  <div class="second-block">
    <div class="row">
      <div class="col-md-2">
        <div class="title_block">
          <h5 class="mb-0"> Share Poll :</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group copy_link_box">
          <div>
            <span  id="basic-addon3">{{ domain }}{{ "/poll/" }}{{pollId}}</span>
          </div>
          <button class="copy__link" (click)="copyInviteUrl()">Copy Link</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="title_block">
          <h5 class="mb-0"> Total Votes :</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group copy_link_box">
          <div>
            <span  id="basic-addon3">{{totalVotes}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
  <form class="multisteps_form bg-white position-relative overflow-hidden poll-block" id="wizard">
     <div class="multisteps_form_panel step active ">
        <div class="question_title text-center text-uppercase">
           <h1 class="animate__animated animate__fadeInRight animate_25ms">What kind of services you are quiz?</h1>
        </div>
        <div class="row  form_items">
           <div class="col-12">
            <p class="polls-options">Well organized and Easy</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
              
           </div>
           <div class="col-12">
            <p class="polls-options">Transition Between Two</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
             
           </div>
           <div class="col-12">
            <p class="polls-options">Transitions are Shown</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
           </div>
           <div class="col-12">
            <p class="polls-options">Generate a nice Color</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
           </div>
        </div>
     </div>
     <div class="form_btn">
        <button type="button"  class="next_btn rounded-pill position-absolute text-uppercase text-white" id="nextBtn">Submit</button>
     </div>
  </form>
  </div> -->
  


  