<!-- <div class="custom-margin">
    <div class="wrapper">
      <div >
        <header>demo question add for testing</header>
        <div>
          <div class="poll-area selected-option">
            <div class="percentage-label-block">
              <input type="radio" name="poll"
                id="opt-1" 
                >
              <span class="circle_with_border circle"></span>
  
              <label for="">dksjfklsdjfklsdjfkl
              </label>
              <div class="percent">10%</div>
            </div>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
          </div>
        </div>

        <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="poll-area selected-option">
              <div class="percentage-label-block">
                <input type="radio" name="poll"
                  id="opt-1" 
                  >
                <span class="circle_with_border circle"></span>
    
                <label for="">dksjfklsdjfklsdjfkl
                </label>
                <div class="percent">10%</div>
              </div>
              <div class="progress" >
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  >
                  <span class="sr-only">100%Complete</span>
                </div>
              </div>
            </div>
          </div>
        <div style="text-align: center;">
          <button type="button" class="vote-btn">
            Submit Vote
          </button>
        </div>
      </div>
      <div>
        <div class="vote_content_box text-center">
          <i class="far fa-check-circle"></i>
          <h5>THANKS</h5>
          <p class="thanks_para mb-3">Thanks for Voting, Meanwhile you can explore our awesome platform</p>
          <button class="btn-cta">Back to Proposal List</button>
        </div>
      </div>
    </div>
  </div> -->




<div class="container">
  <form class="multisteps_form bg-white position-relative overflow-hidden poll-block" id="wizard">
     <!------------------------- Step-1 ----------------------------->
     <div class="multisteps_form_panel step active ">
        <div class="question_title text-center text-uppercase">
           <h1 class="animate__animated animate__fadeInRight animate_25ms">What kind of services you are quiz?</h1>
        </div>
        <div class="row  form_items">
           <div class="col-12">
            <p class="polls-options">Well organized and Easy</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
              <!-- <ul class="list-unstyled p-0">
                 <li  [class.active]="activeOpt1" class="active step_1 animate__animated animate__fadeInRight animate_50ms" >
                    <input id="opt_1" type="radio" (click)="selectedIndex(1)" name="stp_1_select_option" value="1">
                    <label for="opt_1">Well organized and Easy</label>
                 </li>
              </ul> -->
           </div>
           <div class="col-12">
            <p class="polls-options">Transition Between Two</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
              <!-- <ul class="list-unstyled p-0">
                 <li [class.active]="activeOpt2" class=" step_1 animate__animated animate__fadeInRight animate_100ms" >
                    <input id="opt_2" type="radio"   name="stp_1_select_option" value="2" (click)="selectedIndex(2)">
                    <label for="opt_2">Transition Between Two</label>
                 </li>
              </ul> -->
           </div>
           <div class="col-12">
            <p class="polls-options">Transitions are Shown</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
              <!-- <ul class="list-unstyled p-0">
                 <li  [class.active]="activeOpt3" class=" step_1 animate__animated animate__fadeInRight animate_150ms" >
                    <input id="opt_3" type="radio" (click)="selectedIndex(3)"   name="stp_1_select_option" value="3">
                    <label for="opt_3">Transitions are Shown</label>
                 </li>
              </ul> -->
           </div>
           <div class="col-12">
            <p class="polls-options">Generate a nice Color</p>
            <div class="progress" >
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"
                >
                <span class="sr-only">100%Complete</span>
              </div>
            </div>
              <!-- <ul class="list-unstyled p-0">
                 <li [class.active]="activeOpt4" class="step_1 animate__animated animate__fadeInRight animate_200ms" >
                    <input id="opt_4" (click)="selectedIndex(4)" type="radio"   name="stp_1_select_option" value="4">
                    <label for="opt_4">Generate a nice Color</label>
                 </li>
              </ul> -->
           </div>
        </div>
     </div>
     <div class="form_btn">
        <button type="button"  class="next_btn rounded-pill position-absolute text-uppercase text-white" id="nextBtn">Submit</button>
     </div>
  </form>
  </div>
  
  